* {
  font-family: "Figtree", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--background-main-color);
  position: relative;
  max-height: 100%;
  overflow-y: hidden;
}
:root {
  --background-main-color: #f8f9fd;
  --primary: #8c76ff;
  --primary-deep: #7357ff;
  --button-background: #6f57e9;
  --arrow-background: #9747ff;
}
